<footer class="site-footer">

  <div class="main-container">
    
    <div class="inner-container">

      <div class="col left row-direction">

        {% include img.html
        src=site.data.constants.avenir_esr_logo_small
        alt=site.data.constants.avenir_esr_logo_alt
        url=site.data.constants.avenir_esr_url
        %}

        {% include img.html
        src=site.data.constants.esup_logo_small
        alt=site.data.constants.esup_logo_alt
        url=site.data.constants.esup_url
        %}

      </div>

      <div class="col center ">
        {%- include social.html -%}
      </div>

      <div class="col right">
        {%- if site.description != 'disabled' -%}
        <p>{{ site.description | escape }}</p>
        {%- endif -%}
      </div>
    </div>
    <div class="anr-container">
      {% include img.html
        src=site.data.constants.anr_logo_small
        alt=site.data.constants.anr_logo_alt
        %}
      {% include img.html
        src=site.data.constants.anr_logotype_small
        alt=site.data.constants.anr_logotype_alt
        %}
        <div class="anr-text">
          Ce travail a bénéficié d'une aide de l’État gérée par l'Agence Nationale de la Recherche au titre du programme d’investissements d’avenir intégré à France 2030, portant la référence ANR-21-DMAV-0001
        </div>
    </div>
  </div>


</footer>