
$grey-ll: rgb(244, 244, 244);
$grey-l: rgb(212, 212, 212);
$grey-m: #7d7d7d;
$grey-d: rgb(80, 80, 80);
$grey-dd:rgb(61, 61, 61);
$yellow-avenir: rgb(255, 213, 0);
$blue-esup: rgb(10, 113, 180);
$blue-esup-d: rgb(6, 70, 112);