.site-footer {
  padding: 0 1em;
  color: $grey-d;
  font-size: 0.95em;
  display: flex;
  //flex-direction: column;

  .main-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    .anr-container {
      background-color: $grey-d;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0.5em 0;

      .anr-text {
        color: white;
        //max-width: 50%;
      }
    }
    .inner-container {
      padding-top: 0.5em;
      display: flex;
      flex-grow: 1;
      border-top: 1px solid $blue_esup;

      justify-content: space-between;

      .social-media-list {
        list-style: none;
        margin-left: 0;
        li:not(:first-child){
          padding-top: .2em;
        }
        
      }
      
      .col {
        display: flex;
        // flex-grow: 1;
        ul {
          padding: unset;
        }
        &:not(.row-direction) {
          // flex-direction: row;
          flex-direction: column;
          // :not(:first-child) {
          //   margin-top: 0.5em;
          // }
        }

        &.maximize {
          flex-grow: 1;
          justify-content: space-around;
        }

        &.row-direction {
          :not(:first-child) {
            margin-left: 1em;
          }
        }
      }
    }
  }
}
