---
---

@import "colors";
@import "tooltip";
@import "header";
@import "nav";
@import "page";
@import "reports";
@import "report";
@import "report-summary";
@import "footer";

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, .highlight { 
    margin-bottom: 15px; 
}

h2 {
    &:not(:first-child){
        margin-top: 1em;
    }
}




html {
    display: flex;
    flex-direction: column;
    height: 100%;
    body {
        display: flex;
        height: 100%;
        flex-direction: column;
        font-family: Helvetica, Arial, sans-serif;
        
        ul {
            padding: 0.5em 0 0 2em;
        }
        .blue-text {
            color:$blue-esup;
        }

        
        .svg-icon {
            width: 16px;
            height: 16px;
            display: inline-block;
            fill: #828282;
            padding-right: 5px;
            vertical-align: text-top;
        }

        .wrapper {
            margin: 0 1em;
            padding: 2em;
            flex-grow: 1;
        }
        @media screen and (max-width: 800px) {
            .wrapper {
                max-width: -webkit-calc(800px - (30px));
                max-width: calc(800px - (30px));
                padding-right: 15px;
                padding-left: 15px;
            }
        }

        a {
            color: $blue-esup;
            text-decoration: none;
        }
        a:visited {
            color: $blue-esup-d;
        }
        a:hover {
            color: $blue-esup-d;
            text-decoration: none;
        }
        blockquote {
            display: flex;
            flex: 1;
            flex-shrink: 1;
            flex-direction: column;
            font-family: 'Times New Roman', Times, serif;
            padding: .5em;
            color: $grey-d;
            border: 1px solid $grey-l;
            p {
                &:last-child {
                    margin-bottom: unset;
                }
            }
        }
        figcaption {
            color:$grey-d;
            font-size: .8em;
            font-style: italic;
        }
        
    }
    }
