.page {
  .page-header {
    display: flex;
    margin-bottom: 1em;
    align-items: baseline;
  }

  .page-title {
    font-size: 2em;
    color: $blue-esup;
    margin-right: .5em;
  }

  h2.subtitle {
    color: $blue-esup;
  }
  .rss-subscribe-container {
    margin-left: 2em;
  }
  @media screen and (max-width: 800px) {
    .page-title {
      font-size: 1em;
    }
  }

  
}
.page-content {
  padding-left: 2em;
  flex: 1;
  align-items: flex-start;
  overflow: auto;
  &.table-container {
    table, th, tr, td{
      border: 1px solid $grey-l;
      border-collapse: collapse;
    } 

    th {
      color: $blue-esup;
      padding:  1em;
    }
    tr {
      color: $grey-d;
      td {
        padding: .5em 1em;
      }
    }
    
  }
  ul.spaced {
    li:not(:first-child) {
      padding-top: 1em;
    }
  }

}
